{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block body %}

<div class="col text-center" style="margin: 3px;">
    <h2 class="mb-4">About Us</h2>
    <p class="lead mb-4">Welcome to our website. Here's some information about us.</p>
    <hr class="my-4">
    
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-light mb-4">
                <div class="card-body">
                    <h4 class="card-title">Our Mission</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat eros ut lectus consectetur tempus.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-light mb-4">
                <div class="card-body">
                    <h4 class="card-title">Our Vision</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat eros ut lectus consectetur tempus.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-light mb-4">
                <div class="card-body">
                    <h4 class="card-title">Our Values</h4>
                    <ul class="list-unstyled">
                        <li>Transparency</li>
                        <li>Customer Satisfaction</li>
                        <li>Innovation</li>
                        <li>Integrity</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}