{% extends 'base.html' %}

{% block title %} WishList {% endblock %}

{% block body %}

<div class="col text-center" style="margin: 3px;">
    <h2 class="mb-4">My Wishlist</h2>
    <img src="../static/images/3973481.jpg" alt="Empty Wishlist" class="img-fluid mb-4" style="max-width: 300px;">
    <p class="lead mb-3">Your wishlist is currently empty.</p>
    <p class="mb-4">Start adding items to your wishlist by browsing our products.</p>
    <a href="/" class="btn btn-primary btn-lg">Browse Products</a>
</div>

{% endblock %}